$big: 3.5em;
$grand: 3em;
$medium: 1.5em;
$normal: 1em;
$small: .5em;
$default: 16px;

html {
  font-size: $default;
  font-family: appleberry;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc($default + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 20px;;
  }
}
.text-primary {
	color: $primary;
}
.text-board {
	color: $board;
}
.text-secondary {
	color: $secondary;
}
.text-tertiary {
	color: $tertiary;
}
.text-center {
	text-align: center;
}
.relative {
	position: relative;
}
.big {
	font-size: $big;
}
.grand {
	font-size: $grand;
}
.medium {
	font-size: $medium;
}
.normal {
	font-size: $normal;
}
.small {
	font-size: $small;
}
a, button.clean {
	color: $primary;
	&:hover,&:focus, &:active {
		color: $secondary;
	}
}
h1 {
    font-size: $grand;
}
h2 {
    font-size: $medium;
}
h3 {
    font-size: $medium;
}
p {
	font-size: $normal;	
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;	
}
button {
	font-size: inherit;
}